In [1]:
# %% [markdown]
# # MiniProject2 PostgreSQL Testing Notebook
# This notebook lets you run your exercises (`ex1`–`ex10`) on your PostgreSQL database.

# %%
import pandas as pd
import psycopg2
from psycopg2 import sql

# %% [markdown]
# ## 1️⃣ PostgreSQL Connection
# Replace with your PostgreSQL credentials

# %%
DB_HOST = "dpg-d4m7fv1r0fns73a0fpl0-a.oregon-postgres.render.com"
DB_NAME = "srr_nzqw"
DB_USER = "srr_nzqw_user"
DB_PASSWORD = "WgBgo06grmEG20igKk2gaeahqgyOnfUs"

def create_pg_connection():
    conn = psycopg2.connect(
        host=DB_HOST,
        database=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD
    )
    return conn

conn = create_pg_connection()

# %% [markdown]
# ## 2️⃣ Utility to run queries

# %%
def run_query(conn, query):
    return pd.read_sql_query(query, conn)

# %% [markdown]
# ## 3️⃣ Exercise Queries
# Here we define your `ex1`–`ex10` queries for PostgreSQL

# %%
def ex1(name):
    return f"""
        SELECT 
            c.firstname || ' ' || c.lastname AS customername,
            p.productname,
            p.productunitprice,
            o.quantityordered,
            ROUND((p.productunitprice * o.quantityordered)::numeric, 2) AS totalcost
        FROM orderdetail o
        JOIN customer c ON o.customerid = c.customerid
        JOIN product p ON o.productid = p.productid
        WHERE c.firstname || ' ' || c.lastname = '{name}';
    """


def ex10():
    sql_statement = """
    WITH MonthlyTotals AS (
        SELECT
            EXTRACT(MONTH FROM o.orderdate)::int AS monthnum,
            SUM(p.productunitprice * o.quantityordered) AS total
        FROM orderdetail o
        JOIN product p ON o.productid = p.productid
        GROUP BY monthnum
    ),
    MonthNames AS (
        SELECT
            CASE monthnum
                WHEN 1 THEN 'January'
                WHEN 2 THEN 'February'
                WHEN 3 THEN 'March'
                WHEN 4 THEN 'April'
                WHEN 5 THEN 'May'
                WHEN 6 THEN 'June'
                WHEN 7 THEN 'July'
                WHEN 8 THEN 'August'
                WHEN 9 THEN 'September'
                WHEN 10 THEN 'October'
                WHEN 11 THEN 'November'
                WHEN 12 THEN 'December'
            END AS Month,
            total
        FROM MonthlyTotals
    )
    SELECT
        Month,
        total AS Total,
        RANK() OVER (ORDER BY total DESC) AS TotalRank
    FROM MonthNames
    ORDER BY total DESC;
    """
    return sql_statement

# %% [markdown]
# ## 4️⃣ Test Example: Exercise 1
# Replace `CustomerName` with any actual customer from your dataset

# %%
customer_name = "John Doe"  # Change to a valid name from your CSV
df_ex1 = run_query(conn, ex1(customer_name))
df_ex1.head()

# %% [markdown]
# ## 5️⃣ Test Example: Exercise 10

# %%


# %% [markdown]
# ## 6️⃣ Close PostgreSQL Connection
df_ex10 = run_query(conn, ex10())
df_ex10.head()
# %%
conn.close()

C:\Users\saira\AppData\Local\Temp\ipykernel_30412\1376382944.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
C:\Users\saira\AppData\Local\Temp\ipykernel_30412\1376382944.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)